@import "imports";
@import "variables";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}


header.woz{
  background: #24242a;
  color: white;

}

header.woz{
  margin-bottom: 3.0em;
}

footer.woz{
  margin-top: 100px;
  padding-top: 6em;
  padding-bottom: 10em;
  border-top: thin solid #b3aaa9;
}
